*.jslint
*.gz
*.swp
OEmbedPlugin.md5
OEmbedPlugin.sha1
OEmbedPlugin.tgz
OEmbedPlugin.txt
OEmbedPlugin.zip
OEmbedPlugin_installer
OEmbedPlugin_installer.pl
pub/System/OEmbedPlugin/video.css
pub/System/OEmbedPlugin/video.js
web-oembed
