%TMPL:DEF{"article"}%<div class="oEmbedArticle">
<div class="foswikiImage foswikiLeft">
<a href="$thumbnail_url"><img src="$thumbnail_url" width="$thumbnail_width" /></a>
</div>
<h4><a href="$url">$title</a></h4>
<div class="oembedDescription">
$description
... <a class="foswikiGrayText" style='text-decoration:none' href='%IF{"'$author_url' != ''" then="$author_url" else="$provider_url"}%'>$author_name, $provider_name</a>
%IF{"'$type' = 'video'" then="<p class='oEmbedVideo'>$html</p>"}%<!-- -->
</div>
%CLEAR%
</div>%TMPL:END%

%TMPL:DEF{"YouTube"}%<div class='oEmbedYouTube' data-vid='$vid' style='width:$width'><img src='$thumbnail_url' style='width:100%' alt='YouTube Video Preview' /></div>%ADDTOZONE{"head"
  id="OEMBEDPLUGIN::YOUTUBE"
  text="<link type='text/css' rel='stylesheet' href='%PUBURLPATH%/%SYSTEMWEB%/OEmbedPlugin/youtube.css'  media='all' />"
}%%ADDTOZONE{"script"
  id="OEMBEDPLUGIN::YOUTUBE"
  text="<script type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/OEmbedPlugin/youtube.js'></script>"
  requires="JQUERYPLUGIN"
}%%TMPL:END%
