%TMPL:DEF{"article"}%<div class="oEmbedArticle">
<div class="foswikiImage foswikiLeft">
<a href="$thumbnail_url"><img src="$thumbnail_url" width="$thumbnail_width" /></a>
</div>
<h4><a href="$url">$title</a></h4>
<div class="oembedDescription">
$description
... <a class="foswikiGrayText" style='text-decoration:none' href='%IF{"'$author_url' != ''" then="$author_url" else="$provider_url"}%'>$author_name, $provider_name</a>
%IF{"'$type' = 'video'" then="<p class='oEmbedVideo'>$html</p>"}%<!-- -->
</div>
%CLEAR%
</div>%TMPL:END%

%TMPL:DEF{"YouTube"}%<div class='oEmbedVideo oEmbedYouTube' data-vid='$vid' data-src='//www.youtube.com/embed/$vid?autoplay=1' style='width:$width'><img src='$thumbnail_url' style='width:100%' alt='YouTube Video Preview' /></div>%TMPL:P{"video::assets"}%%TMPL:END%

%TMPL:DEF{"Vimeo"}%<div class='oEmbedVideo oEmbedVimeo' data-vid='$video_id' data-src='//player.vimeo.com/video/$video_id?autoplay=1' style='width:$width'><img src='$thumbnail_url' style='width:100%' alt='Vimeo Video Preview' /></div>%TMPL:P{"video::assets"}%%TMPL:END%

%TMPL:DEF{"video::assets"}%%ADDTOZONE{"head"
  id="OEMBEDPLUGIN::CSS"
  text="<link type='text/css' rel='stylesheet' href='%PUBURLPATH%/%SYSTEMWEB%/OEmbedPlugin/video.css'  media='all' />"
}%%ADDTOZONE{"script"
  id="OEMBEDPLUGIN::VIDEO"
  text="<script type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/OEmbedPlugin/video.js'></script>"
  requires="JQUERYPLUGIN"
}%%TMPL:END%
