.oEmbedVideo {
  position:relative;
  display:inline-block;
  overflow:hidden;
  background-color:#000;
  box-shadow: 0.2em 0.2em 0.5em -3px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 0.5em;
     -moz-border-radius: 0.5em;
          border-radius: 0.5em;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  background-clip:content-box;
  max-width:100%;
}
.oEmbedVideo iframe,
.oEmbedVideo img {
  vertical-align:middle;
}
.oEmbedVideo:before {
  content:"loading...";
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-2em;
  color:#fff;
  display:none;
}
.oEmbedVideo:after {
  position:absolute;
  top:50%;
  left:50%;
  width:54px;
  height:38px;
  display:block;
  margin:-19px 0 0 -27px;
  background-image:url(play.png);
  background-size:cover;
  content:"";
}
.oEmbedVideo.loading:before {
  display:block;
}
.oEmbedVideo.active:before,
.oEmbedVideo.loading:after,
.oEmbedVideo.active:after {
  display:none;
}
.oEmbedYouTube:hover:after {
  background-position:-54px 0;
}
.oEmbedVimeo:hover:after {
  background-position:-108px 0;
}
